body {
background-color: floralwhite;
}
h1 {
color: rebeccapurple;
font-family: OCR A Std, monospace;
}
h2 {
color: black;
font-family: OCR A Std, monospace
}
h3 {
color: black;
font-family: OCR A Std, monospace
}